.container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a1b5cb;
    width: 100vw;
}
.redes{
    margin-right:1em;
}
#logoAP{
    width: 120px;
}
img{ 
    width: 30px;
}
.redes img{
    margin: 0.2em;
}