<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo-20-20.png" id="logoAP" alt="">
        </div>
        <div class="redes">
                <a href="https://www.facebook.com/andy.chavesosores"> <img src="../../../assets/Facebook.png" id="facebook" alt=""></a>
                <a href="https://twitter.com/andychavs"><img src="../../../assets/twitter.png" id="twitter" alt=""></a>
                <a href="https://www.instagram.com/andychavs/?hl=es"><img src="../../../assets/Instagram.png" id="instagram" alt=""></a>
                <a href="https://github.com/LadyAndre"><img src="../../../assets/github.png" id="github" alt=""></a>
                <button type="button" class="btn btn-outline-light">INGRESO</button>
            </div>
    </div>
</div>
