<div class="row">
  <div class="col-lg-1"> </div>
  <div class="col-lg-11">
  <h1> Experiencia laboral</h1>
  <div class="col-lg-1"> </div>
  <div class="col-lg-11"> 
    
    <br> 
   <ul>
        <li><h3>Practicante de bioquímica - (2019-presente)</h3><p>
          Practicas en laboratorios de guardia de diferentes hospitales.
        </p></li>
        <li><h3>Trabajo en 'Laboratorio clínico privado Yanes-Rolandi' -(Actualmente)</h3><p>
          Bioquímica.
        </p></li>
   </ul>
  </div>
</div>

