<div class="row">
    <h1> Experiencia laboral</h1>
    <div class="col-lg-11"> 
     <ul>
          <li><h1>Practicante de bioquímica</h1> - <h3>(2019-presente)</h3><p>
            Practicas en laboratorios de guardia de diferentes hospitales.
          </p></li>
          <li><h1>Trabajo en 'Laboratorio clínico privado Molina' </h1> - <h3>(2022)</h3><p>
            Reemplazo de bioquímico en un lab privado durante varios meses.
          </p></li>
          <li><h1>Trabajo en 'Laboratorio clínico privado Yanes-Rolandi' </h1> - <h3>(Actualmente)</h3><p>
            Bioquímica en dicho laboratorio. 
          </p></li>
    </ul>
    </div>
</div>

