    <div class="row">
        <div class="col-lg-1"> </div>
        <div class="col-lg-11"> 
        <h1> Proyectos realizados</h1>
        <div class="col-lg-1"> </div>
        <div class="col-lg-11"> 
          
          <br>
           <ul>
                <li><h3>Portfolio Web Full Stack </h3>
                <p>Esta aplicación es de arquitectura distribuida y contiene un
                    diseño de interfaz de usuario (front end) que muestra la información, una base de datos que almacena los datos antes mencionados y cuenta
                    con las APIs necesarias para proveer a través de internet la información (back end)
                </p>
                </li>
           </ul>
           <img src="../../../assets/Portfolio.jpg"alt="">
          </div>
      </div>
      